@inherits LayoutComponentBase

<div class="main">
    <p></p>
    <div class="top-row px-4">
        <span align=left hspace=20 style="color:blue;font:xx-large"><strong>AAS Repository</strong></span>
        <img align=left hspace=20 src="Icon_AASX_256x256_W.png" height="60" />
        <img align=left hspace=20 src="DTC-logo.png" height="60" />
        <NavLink class="nav-link" href="About" Match="NavLinkMatch.All">About</NavLink>
    </div>
    <p></p>
    <div class="content px-4" >
        @Body
    </div>
</div>
