@page "/About"

<h1>About AAS Repository</h1>

<p>
    @{
        string[] lines = System.IO.File.ReadAllLines("LICENSE.TXT");
        foreach (string line in lines)
        {
            @line<br />
        }
    }
</p>
